{:tasks {:requires ([babashka.fs :as fs]
                    [babashka.tasks :refer [shell]])

         dev     {:doc  "starts a dev environment and repl"
                  :task (clojure {:dir "."} "-M:dev:repl")}

         test     {:doc  "starts a test environment and repl"
                   :task (clojure {:dir "."} "-M:test:repl")}

         clean     {:doc "cleans the project"
                    :task (clojure {:dir "."} "-T:build clean")}

         build     {:doc  "compiles the project"
                    :task (clojure {:dir "."} "-T:build build")}

         uberjar   {:doc  "builds the uberjar"
                    :task (clojure {:dir "."} "-T:build all")}}}
