{:paths []

 :deps {}

 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4"
                                                         :git/sha "76b78fe"}
                          org.clojure/tools.deps {:mvn/version "0.19.1432"}}
                   :ns-default build}

           :repl {:extra-deps {nrepl/nrepl       {:mvn/version "1.0.0"}
                               cider/cider-nrepl {:mvn/version "0.34.0"}}
                  :main-opts  ["-m" "nrepl.cmdline"
                               "--middleware" "[cider.nrepl/cider-middleware]"
                               "-i"]}

           :dev {:extra-deps {poly/spec {:local/root "components/spec"}
                              poly/healthcheck {:local/root "components/healthcheck"}
                              poly/customer {:local/root "components/customer"}
                              poly/system {:local/root "components/system"}
                              poly/logging {:local/root "components/logging"}
                              poly/database {:local/root "components/database"}

                              poly/agent {:local/root "bases/agent"}
                              poly/server {:local/root "bases/server"}

                              integrant/repl {:mvn/version "0.3.3"}
                              org.clojure/clojure {:mvn/version "1.12.0"}}

                 :extra-paths ["development/src" "development/resources"]}

           :test {:extra-paths ["components/customer/test"]}

           :migrate {:extra-deps {com.github.vennbilling/clj-migratus {:git/sha "4ecd8c1db3ae58709a0de7d551781e86fb247826"}}
                     :jvm-opts ["-Dmigratus.config.path=migratus.edn"]
                     :main-opts ["-m" "clj-migratus"]}

           :poly {:main-opts ["-m" "polylith.clj.core.poly-cli.core"]
                  :extra-deps {polylith/clj-poly {:mvn/version "0.2.20"}}}}}
