{
 :system/env
 #profile {:dev :dev
           :test :test
           :prod :prod}

 :server/http
 {:port #long #or [#env AGENT_PORT 8080]
  :host #or [#env AGENT_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}


 :handler/ring
 {:routes #ig/ref :routes/api}

 :routes/api
 {:base-path "/v1"}}
