{
 :system/env
 #profile {:dev :dev
           :test :test
           :prod :prod}

 :server/http
 {:port #long #or [#env AGENT_PORT 8080]
  :host #or [#env AGENT_HOST "0.0.0.0"]
  :handler #ig/ref :handler/ring}

 :agent.routes/internal
 {:base-path "/internal"}

 :agent.routes/api
 {:base-path "/v1"}

 :handler/ring
 {:routes #ig/refset :router/routes}}
