{:deps {poly/customer {:local/root "../../components/customer"}
        poly/agent {:local/root "../../bases/agent"}

        org.clojure/clojure {:mvn/version "1.11.1"}}

 :aliases {:build {:deps {io.github.clojure/tools.build {:git/tag "v0.9.4"
                                                         :git/sha "76b78fe"}}
                   :ns-default build}

           :test {:extra-paths []
                  :extra-deps  {}}

           :uberjar {:main com.vennbilling.agent.core
                     :version "0.0.3-alpha-SNAPSHOT"}}}
