name: "snapshot"
run-name: ${{ inputs.name }}

on:
  release:
    types: [published]
  workflow_dispatch:
  push:
    branches: [main]
    paths:
      - "**.clj"
      - "deps.edn"
      - "resources/*.edn"
      - "Dockerfile"
      - "pom.xml"

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

permissions:
  contents: read
  packages: write

jobs:
  build-and-push-docker-image:
    strategy:
      matrix:
        project: ["agent"]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ github.repository_owner }}/${{ matrix.project }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            JDK_VERSION=21
            VENN_PROJECT=${{ matrix.project }}
